<h2>Add New Product</h2>

<form action="/products/new" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="price" placeholder="Price">
    <textarea name="description">Describe...</textarea>
    <input type="submit" value="Save">
</form>